@import url(./normalize.css);
@import url(./vars.css);
@import url(./fonts.css);

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

button {
    all: unset;
    display: inline-block; 
    /* cursor: pointer; */
}


html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    color: var(--black-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

a:hover, 
button:hover,
.btn:hover,
.initial__video {
    cursor: var(--custom-cursor);
}

.container {
    max-width: 1336px;
    margin: 0 auto;
    padding: 0 20px;
    
    /* outline: 1px solid green; */
}

.header__top,
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__top {
    padding: 16px 0 17px;
}

.logo__time {
    font-size: 12px;
    color: #1f1f1f;
    opacity: 0.8;
}

.top__search-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 12px 28px;
    gap: 12px;
    background-color: #fff7f3;
    font-weight: var(--font-weight-semibold);
    color: var(--red-color);
    transition: opacity 0.3s ease;
}

button:hover,
.top__calc:hover,
.socials__item:hover,
.number__tel:hover,
.number__mail:hover,
.btn:hover {
    opacity: 0.5;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url(../assets/icons/search.svg);
}

.top__calc {
    margin: 0 60px;
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--green-color);
    transition: opacity 0.3s ease;
}

.top__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.socials__item a {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

.socials__whatsApp {
    background-image: url(../assets/icons/whatsApp.svg);
    width: 16px;
    height: 14px;
}

.socials__tg {
    background-image: url(../assets/icons/tg.svg);
    width: 18px;
    height: 18px;
}

.socials__viber {
    background-image: url(../assets/icons/viber.svg);
    width: 16px;
    height: 18px;
}

.top__number {
    display: flex;
    flex-direction: column;
}

.number__tel {
    font-weight: var(--font-weight-semibold);
    color: var(--black-color);
    transition: opacity 0.3s ease;
}

.number__mail {
    color: var(--black-color);
    transition: opacity 0.3s ease;
}

.btn {
    display: inline-block;
    border: 1px solid var(--red-color);
    border-radius: 100px;
    padding: 12px 32px;
    text-align: center;
    font-weight: var(--font-weight-semibold);
    color: var(--red-color);
    transition: opacity 0.3s ease;
}

.divider {
    width: 100wv;
    height: 1px;
    background-color: #e8e8e8;
}

.header__menu {
    padding-top: 22px;
}

.menu-item {
    position: relative;
    text-transform: uppercase;
    color: #4c4c4c;
    padding-bottom: 23px;
    border-bottom: 2px solid transparent; 
    transition: color 0.3s ease, border-bottom 0.3s ease, cursor 0.3s ease;
}

.menu-item:hover {
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
    cursor: var(--custom-cursor);
}

.main__initial {
    background-color: #f3f7f4;
}

.initial {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 1666px;
    /* max-width: calc(1336px + 300px); */
}

.initial__basic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    /* height: 689px; */
    padding: 100px 0 120px;
    margin-right: 62px;
}

.title {
    font-weight: var(--font-weight-semibold);
    font-size: 48px;
    line-height: 1.3;
    color: var(--black-color);
}

.title-span {
    color: var(--green-color);
}

.basic__btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.btn-filled {
    display: inline-block;
    background-color: var(--red-color);
    color: var(--background-color)
}

.initial__video {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(../assets/icons/video.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 52px;
}

.picture__wrapper {
    /* position: relative; */
    /* width: fit-content; */
}


.picture-ecolom {
   /* width: 698px; */
    
}