:root {
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --black-color: #1F1F1F;
    --red-color: #F95707;
    --green-color: #105720;
    --background-color: #fff;
    --main-background: #f3f7f4;
    --custom-cursor: url('../assets/icons/cursor.svg') 12 12, auto;
}